@import "../app/variables.styles";

.add-item {
  position: relative;

  .left {
    width: 300px;
    position: fixed;
    height: 100%;
  }

  .navigation {
    background-color: $black;
    padding: 2rem;

    a {
      display: block;
      font-size: 1.3rem;
      margin-bottom: 1rem;
      letter-spacing: 1px;
    }
  }

  .right {
    position: absolute;
    left: 320px;
  }
}
