@import "../app/variables.styles";

.full-height-container {
  height: 95vh;
  overflow-x: hidden;

  .navigation {
    background-color: $black;
    padding: 2rem;
    position: fixed;

    a {
      display: block;
      font-size: 1.3rem;
      margin-bottom: 1rem;
      letter-spacing: 1px;
    }
  }

  .add-item-form {
    width: 70%;
  }
}
